.hero {
  background-image: url("/img/hero-lg.png");
  background-size: cover;
  height: 420px;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
